@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');


body, html {
    font-family: 'Nanum Gothic', sans-serif;
    cursor: crosshair;
    scroll-behavior: smooth;
    color: white;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    height: 100%;
    width: 100%;
    background-color: #6CBF84;
}

h1 {
    font-size: 2em; 
}

.nav {
    text-align: center;
    background-color: #323339;
    width: 100%;
    padding: 1em;
    position: sticky;
    top: 0;
}

.links-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
   
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

.gallery {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

img {
    max-width: 600px;
}
