/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,video{height:auto;max-width:100%}audio{max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

* {
    font-family: 'Lato', monospace;
    cursor: crosshair;
    scroll-behavior: smooth;
    color: #000;
	text-decoration: none; 
}

.name {
    font-size: 2em;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.links li {
    display: inline-block;
    text-align: center;
    padding: 2.5em;
}

a {
    color: inherit;
    font-size: 1.5em; 
}

a:hover {
    font-weight: bold;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

.gallery {

}

.project-card {
    display: flex;
    align-items: center;
    justify-content: center;
}


