* {
    font-family: 'Tahoma', monospace;
    cursor: crosshair;
    scroll-behavior: smooth;
    list-style-type: none;
}

.myname {
    color: #000;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

body {

}

.links li {
    
    display: inline-block;
    text-align: center;
    padding: 1em;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    font-weight: bold;
    text-decoration: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

.blink {
    animation: blink 1s infinite;
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}


TODO: create responsive 3x3 project grid
.gallery-wrapper {

}

.gallery {

}

.project-card {

}

TODO: make responsive for desktop/tablet/mobile